//Variables
$white: #ffffff;
$black: #000000;
$primary-color: #316BFF;
$primary-color2: #854fee;
$grey: #8E94A3;
$border-color: #201f1f17;
$gradient-color: linear-gradient(207.47deg, #316BFF 41.11%, #4388FF 82.89%);
$shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
$box-shadow: 0px 5px 15px rgba(57, 56, 61, 0.205);

$header-height: 80/16*1em;